* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background-image: url("../img/kingsman-logo.png");
    background-color: rgb(24, 24, 25);
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}

.brand-title {
    text-transform: uppercase;
}

.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}

.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}

.news-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.news-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.news-body {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}

.news-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.news-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .news-category-design {
        background: #5aba59;
    }
    .news-category-pure {
        background: #4d85d1;
    }
    .news-category-yui {
        background: #8156a7;
    }
    .news-category-js {
        background: #df2d4f;
    }

.news-images {
    margin: 1em 0;
}

.news-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.news-avatar {
    height: 48px;
    width: 48px;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        padding: 2rem;
        position: absolute;
        margin: 0;
        width: 100%;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0.5rem;
    }
}

.is-offline,
.is-online {
    color: white;
    display: none;
    text-align: center;
    margin: 0;
    font-size: .75rem;
}

#online-indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#online-indicator.online {
    background: green;
}

#online-indicator.offline {
    background: red;
}

#online-indicator.online .is-online {
    display: block;
}

#online-indicator.offline .is-offline {
    display: block;
}
